.list {
  text-decoration: none;
  display: inline-flex;
  margin: 10px 10px 10px 10px;

  &_title {
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
    display: flex;
    justify-content: center;
  }

  &_item {
    border: 1px solid tomato;
    background-color: bisque;
    border-radius: 20%;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      object-fit: cover;
      transform: scale(1.04);
    }
  }

  &_img {
    width: 190px;
  }
}
