.box {
  display: flex;
  height: 20px;
  flex-wrap: wrap;

  &_label {
    color: tomato;
  }

  &_input {
    border: none;
    outline: none;
    border-radius: 10px;
    padding-left: 4px;
    padding-right: 4px;
  }
}
