.box {
  padding: 15px;

  &_list {
    display: flex;
    flex-wrap: wrap;

    margin-right: -10px;
    margin-bottom: -10px;
  }
  &_item {
    flex-basis: calc(100% / 3 - 15px);
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid tomato;
    border-radius: 10px;
  }
  &_text {
    color: black;
    width: 95px;
  }
}
